aiohttp
async-timeout
attrs
beautifulsoup4
certifi
cloudscraper
chardet
discord.py
dnspython
docopt
idna
lxml
multidict
pipreqs
pymongo
requests
six
soupsieve
update-checker
urllib3
websocket-client
websockets
yarg
yarl
datetime